/* TuComponente.css */

.contenedor {
  position: relative;
  max-width: 300px;
  /* Agrega cualquier estilo que necesites para el contenedor principal */
}

.logo {
  position: absolute;
  top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
  left: 10px; /* Ajusta la distancia desde la derecha según tus necesidades */
  max-width: 100%; /* Para que el logo se ajuste automáticamente al tamaño del contenedor */
  height: auto; /* Para mantener la proporción de aspecto del logo */
}

/* Agrega estilos adicionales según tus necesidades */
/* -------------------------------------------------------------------------------- */


.timer-container {
  max-width: 800px;  /* El ancho máximo que desees */
  margin: auto;  /* Centra el contenedor si es más pequeño que el espacio disponible */
}

.centered-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;   
  padding: 50px 20px;  
  border-radius: 20px;                    
  width: 80vw;
  min-height: 15rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2); 
  box-shadow: 0px 8px 8px rgb(0, 0, 0);
  margin-top: 50px;
}



/* Media query para escritorio */
@media (min-width: 768px) {  /* Ajusta este valor según tus necesidades */
  .centered-square {
    padding: 20px;  /* Margen a la derecha */
  }
  .principal-button{
    padding: 20px;
    width: 250px;
    font-size: 30px;
    font-weight: 900;
    border-color: black;
    border-width: 2px;
  }
}
.background{
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../public/fondo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.save-date-content {
  display: flex;
  align-items: center;
}

.deadline {
  color: red;
}


.date-details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* Estilos del contenido desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo de los botones dentro del contenido desplegable */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

/* Muestra el contenido desplegable cuando se pasa el mouse por encima */
.dropdown:hover .dropdown-content {
  display: block;
}




.container-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.reserva-ahora {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


/* Cambia la disposición a columna en dispositivos con ancho menor a 768px */
@media (min-width: 1800px) {
  .principal-button{
    padding: 20px;
    width: 300px;
    font-size: 40px;
    font-weight: 900;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
  }
}
/* Cambia la disposición a columna en dispositivos con ancho menor a 768px */
@media (max-width: 768px) {
  .reserva-ahora {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}

.reloj {
  width: 300px;
  height: 300px;
  min-width: 280px; 
  max-width: 320px;
  min-height: 280px;
  max-height: 320px;
  /* El resto de tus estilos para el reloj */
}

/* A partir de 768px (típicamente tablets) podrías querer un ligero incremento en tamaño */
@media (min-width: 768px) {
  .reloj {
      width: 320px;
      height: 320px;
  }
}

/* A partir de 1024px (típicamente pantallas de escritorio) otro ligero incremento */
@media (min-width: 1024px) {
  .reloj {
      width: 340px;
      height: 340px;
  }
}


.deadline {
  color: #333;          
  font-size: 1.2rem;    
  font-weight: bold;   
  margin-top: 10px;    
     
  border-radius: 5px;  
}

